<?xml version="1.0" encoding="UTF-8"?>
<plugin id="lycwed-cordova-plugin-infoplist" version="1.0.2" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>lycwed-cordova-plugin-infoplist</name>
    <description>Add missed permissions for ios into info.plist.</description>
    <platform name="ios">
        <config-config parent="NSLocationAlwaysUsageDescription" target="*-Info.plist">
            <string>Allow app to access the user’s location.</string>
        </config-config>
        <config-config parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
            <string>Allow app to access the user’s location.</string>
        </config-config>
    </platform>
</plugin>